{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block content %}
  <div class="container">
    <h1 class="display-4 text-center mb-4">About Me</h1>
    <p class="lead text-center mb-5">Learn more about the developer behind this project.</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="mb-4">About the Developer</h2>
        <p> My name is Ashmit Ghose. I am currently an undergrad student at IIT Madras, pursuing BS in Data Science and Applications</p>
        <p>This project was developed solely by me, as a way to enable students to take quizzes, to test and refine their preparation. There are multiple Subjects, Chapters as well as Quizzes offered.</p>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <h2 class="mb-4">Get in Touch</h2>
    <div class="row">
      <div class="col-md-12">
        <p>If you have any questions or feedback about this project, feel free to reach out to me at <strong>24f1001827@ds.study.iitm.ac.in </strong></p>
      </div>
    </div>
  </div>
{% endblock %}