{% extends 'base.html' %}

{% block title %}Add Quiz{% endblock %}

{% block content %}
  <h1>Add Quiz</h1>
  <form action = "/add_quiz" method="post">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
    </div> 
    <div class="form-group">
      <label for="chapter_id">Chapter:</label>
      <select id="chapter_id" name="chapter_id" required>
        {% for chapter in chapters %}
          {% if CHAPTER %}
            <option value="{{ chapter.id }}" {% if chapter.id == CHAPTER.id %}selected{% endif %}>{{ chapter.name }}</option>
          {% else %}
            <option value="{{ chapter.id }}">{{ chapter.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="date_of_quiz">Date of Quiz:</label>
      <input type="date" id="date_of_quiz" name="date_of_quiz" required>
    </div>
    <div class="form-group">
      <label for="duration">Duration:</label>
      <input type="text" id="duration" name="duration" required>
    </div>
    <div class="form-group">
      <label for="syllabus">Syllabus:</label>
      <textarea id="syllabus" name="syllabus" required></textarea>
    </div>
    <div class="form-group">
        <label for="total_questions">Total Questions:</label>
        <input type="number" id="total_questions" name="total_questions">
      </div>
      <div class="form-group">
        <label for="maximum_marks">Maximum Marks:</label>
        <input type="number" id="maximum_marks" name="maximum_marks">
      </div>
      <button type="submit" class="btn btn-primary">Add Quiz</button>
      </form>
      {% endblock %}
      
