{% extends 'base.html' %}

{% block title %} Add Quiz {% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1 class="display-4 text-center">Add Quiz</h1>
    <form action="/add_quiz" method="post">
      <div class="form-group">
        <label for="name"><h4>Quiz Name:</h4></label>
        <input type="text" id="name" name="name" required class="form-control">
      </div>
      <div class="form-group">
        <label for="chapter_id"><h4>Chapter:</h4></label>
        <select id="chapter_id" name="chapter_id" required class="form-control">
          {% for chapter in chapters %}
            {% if CHAPTER %}
              <option value="{{ chapter.id }}" {% if chapter.id == CHAPTER.id %}selected{% endif %}>{{ chapter.name }}</option>
            {% else %}
              <option value="{{ chapter.id }}">{{ chapter.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="date_of_quiz"><h4>Date of Quiz:</h4></label>
        <input type="date" id="date_of_quiz" name="date_of_quiz" required class="form-control">
      </div>
      <div class="form-group">
        <label for="duration"><h4>Duration:</h4></label>
        <input type="text" id="duration" name="duration" required class="form-control">
      </div>
      <div class="form-group">
        <label for="syllabus"><h4>Syllabus:</h4></label>
        <textarea id="syllabus" name="syllabus" required class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="total_questions"><h4>Total Questions:</h4></label>
        <input type="number" id="total_questions" name="total_questions" class="form-control">
      </div>
      <div class="form-group">
        <label for="maximum_marks"><h4>Maximum Marks:</h4></label>
        <input type="number" id="maximum_marks" name="maximum_marks" class="form-control">
      </div>
      <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary btn-lg">Add Quiz</button>
      </div>
    </form>
  </div>
{% endblock %}
      
