{% extends 'base.html' %}

{% block title %} Edit Quiz {% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1 class="display-4 text-center">Edit Quiz</h1>
    <form action="/edit_quiz/{{ quiz.id }}" method="post">
      <div class="form-group">
        <label for="name"><h4>Quiz Name:</h4></label>
        <input type="text" id="name" name="name" value="{{ quiz.name }}" required class="form-control">
      </div>
      <div class="form-group">
        <label for="chapter_id"><h4>Chapter:</h4></label>
        <select id="chapter_id" name="chapter_id" required class="form-control">
          {% for chapter in chapters %}
            <option value="{{ chapter.id }}" {% if chapter.id == quiz.chapter_id %}selected{% endif %}>{{ chapter.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="date_of_quiz"><h4>Date of Quiz:</h4></label>
        <input type="date" id="date_of_quiz" name="date_of_quiz" value="{{ quiz.date_of_quiz }}" required class="form-control">
      </div>
      <div class="form-group">
        <label for="duration"><h4>Duration:</h4></label>
        <input type="text" id="duration" name="duration" value="{{ quiz.duration }}" required class="form-control">
      </div>
      <div class="form-group">
        <label for="syllabus"><h4>Syllabus:</h4></label>
        <textarea id="syllabus" name="syllabus" required class="form-control">{{ quiz.syllabus }}</textarea>
      </div>
     <div class="form-group">
        <label for="total_questions"><h4>Total Questions:</h4></label>
        <input type="number" id="total_questions" name="total_questions" value="{{ quiz.total_questions }}" required class="form-control">
      </div>
      <div class="form-group">
        <label for="maximum_marks"><h4>Maximum Marks:</h4></label>
        <input type="number" id="maximum_marks" name="maximum_marks" value="{{ quiz.maximum_marks }}" required class="form-control">
      </div>
      <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary btn-lg">Update Quiz</button>
      </div>
    </form>
    <div class="text-center mt-3">
      <a href="{{ url_for('add_question', quiz_id=quiz.id) }}" class="btn btn-success btn-lg">Add Question</a>
    </div>
  </div>
{% endblock %}