{% extends 'base.html' %}

{% block title %} Manage Subjects {% endblock %}

{% block content %}
  <h1>Manage Subjects</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Chapters</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for subject in subjects %}
        <tr>
          <td>{{ subject.name }}</td>
          <td>
            {% for chapter in subject.chapters %}
              {{ chapter.name }}<br>
            {% endfor %}
          </td>
          <td>
            <a href="{{ url_for('edit_subject', subject_id=subject.id) }}" class="btn btn-primary">Edit</a>
            <a href="{{ url_for('delete_subject', subject_id=subject.id) }}" class="btn btn-danger">Delete</a>
            <a href="{{ url_for('add_chapter', subject_id=subject.id) }}" class="btn btn-success">Add Chapter</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{{ url_for('add_subject') }}" class="btn btn-success">Add Subject</a>
{% endblock %}