{% extends 'base.html' %}

{% block title %}Search Results{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1 class="display-4 text-center">Search Results</h1>

    {% if users or subjects or chapters or quizzes %}
      <div class="row">
        {% if users %}
          <div class="col-md-6">
            <h2 class="mb-3">Users</h2>
            <ul class="list-group">
              {% for user in users %}
                <li class="list-group-item">{{ user.username }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if subjects %}
          <div class="col-md-6">
            <h2 class="mb-3">Subjects</h2>
            <ul class="list-group">
              {% for subject in subjects %}
                <li class="list-group-item">
                  <a href="{{ url_for('subject_details', subject_id=subject.id) }}">{{ subject.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if chapters %}
          <div class="col-md-6">
            <h2 class="mb-3">Chapters</h2>
            <ul class="list-group">
              {% for chapter in chapters %}
                <li class="list-group-item">
                  <a href="{{ url_for('chapter_details', chapter_id=chapter.id) }}">{{ chapter.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if quizzes %}
          <div class="col-md-6">
            <h2 class="mb-3">Quizzes</h2>
            <ul class="list-group">
              {% for quiz in quizzes %}
                <li class="list-group-item">
                  <a href="{{ url_for('quiz_details', quiz_id=quiz.id) }}">{{ quiz.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    {% else %}
      <h2 class="text-center mt-5">No results found. Check for spelling mistakes</h2>
    {% endif %}
  </div>
{% endblock %}
