{% extends 'base.html' %}

{% block title %}Subjects{% endblock %}

{% block content %}
    <h1 class="display-4">Explore Subjects</h1>
    <hr>
    <div class="row">
        {% for subject in subjects %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ subject.name }}</h5>
                        <p class="card-text">{{ subject.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ url_for('subject_details', subject_id=subject.id) }}" class="btn btn-sm btn-outline-secondary">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        {% endfor %}
    </div>
{% endblock %}