{% extends "base.html" %}

{% block title %}{{ subject.name }} Summary{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="display-4 text-center mb-4">{{ subject.name }} Summary</h1>
    </div>
    <canvas id="quiz-scores-line-chart" width="400" height="400"></canvas>
    <script>
        const chartData = {{ chart_data|tojson }};
        const labels = chartData.map(data => data.label || '');
        const percentageScores = chartData.map(data => data.percentage_score || 0);
        const ctx = document.getElementById('quiz-scores-line-chart').getContext('2d');
        const chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Percentage Quiz Scores',
                    data: percentageScores,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        max: 100
                    }
                }
            }
        });
    </script>
    <div class="container mt-5">
        <h2 class="text-center mb-4">View Chapter-wise Summaries</h2>
        <div class="row">
            {% for chapter in subject.chapters %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ chapter.name }}</h5>
                            <a href="{{ url_for('user_chapter_summary', user_id = user.id, subject_id=subject.id, chapter_id=chapter.id) }}" class="btn btn-primary">View Summary</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
